# [[file:~/Workspace/Programming/neighbors/neighbors.note::4c096517-45bc-48c5-8c2a-29d80a5d6f88][4c096517-45bc-48c5-8c2a-29d80a5d6f88]]
[package]
name = "neighbors"
version = "0.0.2"
authors = ["Wenping Guo <ybyygu@gmail.com>"]

[dependencies]
approx = "*"
cgmath = "*"
timeit = "*"
octree = { git = "https://github.com/ybyygu/rust-octree.git" }
# 4c096517-45bc-48c5-8c2a-29d80a5d6f88 ends here
